:root {
  --color-1: #0b0c10;
  --color-2: #1f2833;
  --color-3: #c5c6c7;
  --color-4: #66fcf1;
  --color-5: #45a29e; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "open sans", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-4), var(--color-5));
  /* color: #fff; */ }

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.newsletter-box {
  width: 60%;
  height: 60vh;
  background-color: #fff;
  display: flex;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
  .newsletter-box__col-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; }
    .newsletter-box__col-1--image {
      height: 50rem; }
  .newsletter-box__col-2 {
    flex: 1;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center; }

.newsletter-content {
  width: 80%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem; }
  .newsletter-content__heading {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 4rem; }
  .newsletter-content__pg {
    font-size: 2rem;
    line-height: 2.5rem; }
  .newsletter-content__form {
    width: 60%; }
    .newsletter-content__form--input {
      width: 100%;
      padding: 1.5rem 1rem;
      outline: none;
      border: 1px solid var(--color-3);
      font-size: 1.5rem;
      border-radius: 1rem; }
      .newsletter-content__form--input::placeholder {
        font-size: 1.5rem;
        color: var(--color-3); }
  .newsletter-content__button {
    width: 60%;
    border: none;
    padding: 1.5rem 4rem;
    background-color: var(--color-5);
    color: #fff;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer; }

.cross {
  position: absolute;
  cursor: pointer;
  color: var(--color-3);
  font-size: 2.5rem;
  right: 2.5rem;
  top: 2.5rem; }
